// Here you can add other styles
.sidebar {
    left: 96px !important
}
.disable-caret{
    caret-color: transparent !important
}
.main-bg-color {
    background-color: $main-color;
}
.main-color {
    color: $main-color;
}
.main-text-color {
    color: $main-text-color !important;
}
.nav-icon {
    color: $main-text-color !important;
}
.sidebar-nav {
    .nav-link {
        &:hover {
            background-color: #EFF4FA !important;
        }
        &.active {
            background-color: #EFF4FA !important;
            color: $main-color !important;
        }
    }
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: $main-color;
    }
}
.simplebar-content{
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.hover-style {
    border-radius: 50%;
    background-color: white;    
    cursor: pointer;
}
.leftSide {
    position: fixed;
    height: 100%;
    display: flex;
    min-width: 96px;
    max-width: 96px;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px 0px 0px;
    background-color: $main-color;
    justify-content: space-between;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    .top {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 60px;
    align-items: center;
        ul {
            position: absolute;
            top: 50px;
            left: 0px;
            width: 100%;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
                li {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    align-self: stretch;
                    margin-left: 25px !important;
                        .content {
                            padding: 10px;
                            height: 40px !important;
                            display: flex !important;
                            align-items: center !important;
                                .icon {
                                    display: inline-block;
                                    background-size: cover;
                                }
                                .icon-b {
                                    background-image: url("../assets/images/sidebar/settings_white.svg");
                                    &.active {
                                        background-image: url("../assets/images/sidebar/settings.svg");
                                    }
                                }
                                &:hover {
                                    // border-radius: 50%;
                                    // background-color: white;    
                                    // cursor: pointer;
                                .icon-b {
                                    background-image: url("../assets/images/sidebar/settings.svg");
                                }
                            }
                        }
                }
                li.active {
                    border-radius: 100px 0px 0px 100px;
                    background: var(--gray-white, #fff);
                    &::before,
                    &::after {
                        content: "";
                        height: 20px;
                        width: 18px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(
                        circle at top left,
                        #fff0 73.5%,
                        #fff 75%
                        );
                    }
                    &::after {
                        right: 0px;
                        top: 100%;
                        background: radial-gradient(
                        circle at bottom left,
                        #fff0 73.5%,
                        #fff 75%
                        );
                    }
                    &::before {
                        bottom: 100%;
                        right: 0px;
                    }
                }
            }
        }
    .bottom {
        height: 270px;
        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative;
        gap: 60px;
        align-items: center;
            ul {
                position: absolute;
                left: 0px;
                width: 100%;
                padding: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 0px !important;
                gap: 12px;
                    li {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    align-self: stretch;
                    margin-left: 25px !important;
                        .content {
                            padding: 10px;
                            height: 40px !important;
                            display: flex !important;
                            align-items: center !important;
                                .icon {
                                    display: inline-block;
                                    background-size: cover;
                                }
                                .icon-b {
                                    background-image: url("../assets/images/sidebar/settings_white.svg");
                                &.active {
                                    background-image: url("../assets/images/sidebar/settings.svg");
                                }
                                }
                                &:hover {
                                    // border-radius: 50%;
                                    // background-color: white;
                                    // cursor: pointer;
                                .icon-b {
                                    background-image: url("../assets/images/sidebar/settings.svg");
                                }
                            }
                        }
                    }
                li.active {
                    border-radius: 100px 0px 0px 100px;
                    background: var(--gray-white, #fff);
                    &::before,
                    &::after {
                        content: "";
                        height: 20px;
                        width: 18px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(
                        circle at top left,
                        #fff0 73.5%,
                        #fff 75%
                        );
                    }
                    &::after {
                        right: 0px;
                        top: 100%;
                        background: radial-gradient(
                        circle at bottom left,
                        #fff0 73.5%,
                        #fff 75%
                        );
                    }
                    &::before {
                        bottom: 100%;
                        right: 0px;
                    }
                }
            }
    }
}
